
/*Basic*/
	
	h1 {
		color: #FFC629;
		font-weight: 800;
	}

	h1#logo {
		background-color: #41CCFA;
		color: white;
		margin-top: 0;
		padding: 0.5em;
	}

/*Navigation*/

	nav {
		width: 100%;
		float: right;
		text-align: right;
		margin: 2em;
	}

	nav h1 {
		float: left;
	}