<h1>Purchase Food</h1>

<form action="/user/<%= @user.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Bamboo Shoots: </label>
  <input type="text" name="bamboo_shoots" value="<%= @user.bamboo_shoots %>">
  <br /><br />
  <input type="submit" name="submit" value="submit">
</form>