<h1>Create Animal</h1>

<form action="/animals" method="post">
  <label>Name: </label>
  <input type="text" id="name" name="name"><br>
<label>Species: </label>
  <select name="species">
  	<optgroup label="Fish-Eating Animals">
	  	<option value="dolphin">Dolphin</option>
	  	<option value="penguin">Penguin</option>
	  	<option value="brown bear">Brown Bear</option>
	  	<option value="polar bear">Polar Bear</option>
	  	<option value="seal">Seal</option>
  	</optgroup>
  	<optgroup label="Bamboo-Eating Animals">
	  	<option value="panda">Panda</option>
  	</optgroup>
  	<optgroup label="Fruit-Eating Animals">
	  	<option value="elephant">Elephant</option>
	  	<option value="monkey">Monkey</option>
	  	<option value="sloth">Sloth</option>
	  	<option value="ape">Ape</option>
  	</optgroup>
  	<optgroup label="Grass-Eating Animals">
	  	<option value="kangaroo">Kangaroo</option>
	  	<option value="zebra">Zebra</option>
	  	<option value="buffalo">Buffalo</option>
	  	<option value="elk">Elk</option>
	  	<option value="deer">Deer</option>
	  	<option value="rhino">Rhino</option>
  	</optgroup>
  	<optgroup label="Meat-Eating Animals">
	  	<option value="lion">Lion</option>
	  	<option value="tiger">Tiger</option>
	  	<option value="cheetah">Cheetah</option>
	  	<option value="red fox">Red Fox</option>
	  	<option value="wolf">Wolf</option>
  	</optgroup>
  </select>
  <br>
<label>Gender: </label>
  <select name="gender">
  	<option value="male">Male</option>
  	<option value="female">Female</option>
  </select>
  <br>
<label>Description: </label><br>
  <textarea rows="10" cols="50" id="description" name="description"></textarea><br>

  <input type="submit" name="submit" value="submit">
</form>